[submodule "domain"]
	path = domain
	url = https://github.com/k-nuth/domain.git
	branch = master
[submodule "infrastructure"]
	path = infrastructure
	url = https://github.com/k-nuth/infrastructure.git
	branch = master
[submodule "database"]
	path = database
	url = https://github.com/k-nuth/database.git
	branch = master
[submodule "network"]
	path = network
	url = https://github.com/k-nuth/network.git
	branch = master
[submodule "consensus"]
	path = consensus
	url = https://github.com/k-nuth/consensus.git
	branch = master
[submodule "blockchain"]
	path = blockchain
	url = https://github.com/k-nuth/blockchain.git
	branch = master
[submodule "node"]
	path = node
	url = https://github.com/k-nuth/node.git
	branch = master
[submodule "node-exe"]
	path = node-exe
	url = https://github.com/k-nuth/node-exe.git
	branch = master
[submodule "c-api"]
	path = c-api
	url = https://github.com/k-nuth/c-api.git
	branch = master
[submodule "secp256k1"]
	path = secp256k1
	url = https://github.com/k-nuth/secp256k1.git
    branch = master
[submodule "ci_utils"]
	path = ci_utils
	url = https://github.com/k-nuth/ci-utils.git
