[submodule "secp256k1"]
	path = secp256k1
	url = https://github.com/bitprim/secp256k1.git
        branch = dev
[submodule "bitprim-core"]
	path = bitprim-core
	url = https://github.com/bitprim/bitprim-core.git
        branch = dev
[submodule "bitprim-database"]
	path = bitprim-database
	url = https://github.com/bitprim/bitprim-database.git
	branch = dev
[submodule "bitprim-network"]
	path = bitprim-network
	url = https://github.com/bitprim/bitprim-network.git
	branch = dev
[submodule "bitprim-consensus"]
	path = bitprim-consensus
	url = https://github.com/bitprim/bitprim-consensus.git
	branch = dev
[submodule "bitprim-blockchain"]
	path = bitprim-blockchain
	url = https://github.com/bitprim/bitprim-blockchain.git
	branch = dev
[submodule "bitprim-node"]
	path = bitprim-node
	url = https://github.com/bitprim/bitprim-node.git
	branch = dev
[submodule "bitprim-node-exe"]
	path = bitprim-node-exe
	url = https://github.com/bitprim/bitprim-node-exe.git
	branch = dev
[submodule "bitprim-node-cint"]
	path = bitprim-node-cint
	url = https://github.com/bitprim/bitprim-node-cint.git
	branch = dev
[submodule "bitprim-rpc"]
	path = bitprim-rpc
	url = https://github.com/bitprim/bitprim-rpc
	branch = dev
