.idea/
cmake-build-debug/
build/
conanfile.pyc
__pycache__/
.vscode/
build_debug/
build_release/
CMakeUserPresets.json
build-asan/
test_runner/
doc/release-notes/*.backup
*.mdb
*.log
hosts.cache
banlist.dat
other-nodes/
build_asan/

bchn/

# Data directories
/blockchain/

# Temp logs
*.log.bk
stdout*.txt
fio.log

# CTest temporary files
Testing/
peers.dat
utxo-z
